<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit" xmlns:crypt="http://springcryptoutils.com/schema/crypt" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
 	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
 	http://springcryptoutils.com/schema/crypt http://springcryptoutils.com/schema/crypt.xsd
 	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<sec:http pattern="/images/**" security="none" />
	<sec:http pattern="/resources/**" security="none" />
	<sec:http pattern="/wro/**" security="none" />
	<sec:http pattern="/**/javax.faces.resource/**" security="none" />

	<!-- Configuration pour l'application standard -->
	<sec:http authentication-manager-ref="authenticationManager" use-expressions="false" entry-point-ref="authenticationEntryPoint">
		<sec:csrf disabled="true" />
		<sec:intercept-url pattern="/faces/index.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/public/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<sec:intercept-url pattern="/**" access="ROLE_USER" />
		<sec:form-login login-page="/faces/index.xhtml" />
		<sec:logout success-handler-ref="logoutSuccessHandler" />
	</sec:http>

	<bean id="logoutSuccessHandler" class="com.akelio.codingame.config.security.LogoutHandler" />

	<sec:authentication-manager id="authenticationManager">
		<sec:authentication-provider ref="daoAuthenticationProvider" />
		<!-- <sec:authentication-provider ref="daoAuthenticationProviderAdmin" /> -->
	</sec:authentication-manager>

	<bean id="daoAuthenticationProvider" class="com.akelio.codingame.config.security.DAOAuthenticationProvider" />
	<!-- <bean id="daoAuthenticationProviderAdmin" class="com.akelio.codingame.config.security.DAOAuthenticationProviderAdmin" /> -->

	<bean id="authenticationEntryPoint" class="com.akelio.codingame.config.security.AjaxAwareAuthenticationEntryPoint">
		<constructor-arg name="loginUrl" value="/faces/index.xhtml" />
	</bean>

	<bean id="authenticationEntryPoint2" class="com.akelio.codingame.config.security.AjaxAwareAuthenticationEntryPoint">
		<constructor-arg name="loginUrl" value="/bo/index" />
	</bean>

	<!-- Configuration pour l'upload via les Web Services REST -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="100000000" /><!-- Max size in bytes. -->
		<property name="maxInMemorySize" value="4096000" />
	</bean>


</beans>
